.mainfooter {
    padding-top: 53px;
    padding-bottom: 31px;
    background: #0D0714;
    border-top: 1px solid rgba(255, 255, 255, 0.04);

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 285px;


        .footerdetail {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px;
            flex-direction: column;
            height: 100%;
            
        .rightreservepara {
            color: #D0B8EB;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }

            .footerpara {
                color: #D0B8EB;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
                max-width: 265px;
                width: 100%;
            }

            .socialicons {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;

                .socialicon {
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    background: #D0B8EB;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }

        .footerlinks {
            display: flex;
            align-items: flex-start;
            gap: 75px;
            height: 100%;

            .footerlinksinner {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 24px;
                flex-direction: column;

                .footerhead {
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    text-transform: uppercase;
                }

                .footerpara {
                    color: #D0B8EB;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    cursor: pointer;
                }
            }
        }

        .subscribemain {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 24px;
            flex-direction: column;

            .subscribehead {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                text-transform: uppercase;
            }

            .subscribeinput {
                position: relative;
                width: 100%;
                min-width: 311px;

                .innersubscribeinput {
                    width: 100%;
                    border-radius: 15px;
                    border: 1px solid rgba(134, 47, 192, 0.70);
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: lowercase;
                    background: #230A34;
                    height: 56px;
                    outline: none;
                    min-width: 311px;
                    padding-left: 18px;

                    &::placeholder {
                        color: rgba(208, 184, 235, 0.50);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        // text-transform: capitalize;
                    }
                }

                .subscribebtn {
                    background: #862FC0;
                    display: flex;
                    width: 60px;
                    height: 56px;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 0px 15px 15px 0px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    .parent-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 67px;
    }
}

@media (min-width:1600px) {
    .mainfooter .footer .footerlinks {
        gap: 150px;
    }
}

@media (min-width:1900px) {
    .mainfooter .footer .footerlinks {
        gap: 250px;
    }
}

@media (max-width:1100px) {
    .mainfooter .footer .footerlinks {
        gap: 30px;
    }
}

@media (max-width:786px) {
    .mainfooter .footer {
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .mainfooter .footer .footerlinks {
        width: 100%;
        gap: 40px;
        justify-content: center;
    }

    .mainfooter .footer .subscribemain {
        width: 100%;
    }

    .mainfooter .footer .footerdetail {
        width: 100%;
    }

    .mainfooter .footer .footerdetail .footerpara {
        max-width: 100%;
    }

    .mainfooter .parent-right {
        flex-direction: column;
        gap: 47px;
        width: 100%;
    }

    .mainfooter .footer .footerlinks {
        justify-content: flex-start;
        gap: 47px;
        flex-direction: column;
    }
}