.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .parent{
        max-width: 544px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        .main-card{
            border-radius: 20px;
            border: 0.661px solid #150B1C;
            background: rgba(134, 47, 192, 0.08);
            padding: 30px 25px;
            width: 100%;
            .main-heading{
                text-align: center;
                margin-bottom: 30px;
                h6{
                    color: #FFF;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    text-transform: capitalize;
                    margin-bottom: 20px;
                }
                p{
                    color: var(--Light-Text-Color, #745F8C);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                }
            }
            .option-field{
                margin-bottom: 30px;
                position: relative;
                label{
                    display: block;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; 
                    text-transform: capitalize;
                    margin-bottom: 15px;
                }
                input{
                    width: 100%;
                    border-radius: 7px;
                    background: rgba(134, 47, 192, 0.09);
                    padding: 24px 22px;
                    color: #fff;
                    border: none;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; 
                    text-transform: capitalize;
                    &::placeholder{
                        color: var(--Light-Text-Color, #745F8C);
                    }
                }
                .eye{
                    position: absolute;
                    top: 65%;
                    right: 15px;
                    transform: translate(0, -50%);
                }
            }
            .btn-remember{
                display: block;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; 
                text-decoration: underline !important;
            }
            .btn-sign{
                border-radius: 10px;
                background: #862FC0;
                padding: 15px 22px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: 50px;
                margin-bottom: 15px;
            }
            .btn-forgot{
                color: #862FC0;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                text-align: center;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .password-must{
        margin-bottom: 30px;
        h5{
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        ul{
            li{
                color: #A3A3A3;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                list-style-type: disc;
                list-style-position: inside;
                margin: 5px 0;
            }
        }
    }
    .success{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h6{
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 15px;
        }
        p{
            color: var(--Light-Text-Color, #745F8C);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; 
            text-align: center;
        }
    }
}

@media (max-width:1024px){
    .login-section{
        padding: 0 15px;
    }
}